@model PlaneProject.Models.UserModel

@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("RegisterInsert","Admin", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>User</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Username, new { placeholder = "Username", @class = "form-control", data_val = "true", data_val_required = "The Username is required." })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.FirstName, new { placeholder = "First Name", @class = "form-control", data_val = "true", data_val_required = "The First Name is required." })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.LastName, new { placeholder = "Last Name", @class = "form-control", data_val = "true", data_val_required = "The Last Name is required." })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Password, new { placeholder = "Password", @class = "form-control", data_val = "true", data_val_required = "The Password is required." })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Email, new { placeholder = "Email", @class = "form-control", data_val = "true", data_val_required = "The Email is required." })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Phonenumber, new { placeholder = "Phone Number", @class = "form-control", data_val = "true", data_val_required = "The Phone Number is required." })
            @Html.ValidationMessageFor(model => model.Phonenumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.EGN, new { placeholder = "EGN", @class = "form-control", data_val = "true", data_val_required = "The EGN is required." })
            @Html.ValidationMessageFor(model => model.EGN, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Address, new { placeholder = "Address", @class = "form-control", data_val = "true", data_val_required = "The Address is required." })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <select class="form-control" id="Role" name="Role" required>
                <option>Admin</option>
                <option>Employee</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input style="width:100%" type="submit" value="Create" class="btn form-btn" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Users","Admin")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
